.inputOption {
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: grey;
    padding-top: 15px;
    cursor: pointer;
}
.inputOption:hover {
    border-radius: 10px;
    background-color: #f5f6fa;
   
}
.inputOption > h3 {
    margin-left: 5px;
}